{% extends "newsboard/base.html" %}
{% load i18n %}

{% block newsboard_action %}
{% if user.is_staff %}
<form action="" method="POST">
  {% csrf_token %}
  <button type="submit" name="mode" value="async">{% trans "Update" %}</button>
  <button type="submit" name="mode" value="sync">{% trans "Update sync" %}</button>
</form>
{% endif %}
{% endblock %}

{% block newsboard_content %}
<ul class="posts">
{% for post in object_list %}
  {% include "newsboard/_post.html" %}
{% endfor %}
</ul>
{% endblock %}
