recursive-include dj_web_rich_object/templates *
recursive-include dj_web_rich_object/locales *.po *.mo

recursive-exclude dj_web_rich_object/locales *.pyc *swp

include requirements*.txt
include README.rst
include LICENSE.txt
